<nav class="navbar navbar-expand-lg navbar-light bg-white shadow p-3 mb-1 rounded">
  <a class="navbar-brand" href="#">PROJECTS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/crud">CRUD-JSON Server </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Login Form</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/singup">Register Form</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/project">Project Management(CRUD-Array) </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/calculator">Calculator <i class="fas fa-project-diagram    "></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/randomuser">Random User API</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cake">Cake <i class="fas fa-project-diagram    "></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/currencies">Currencies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/image">Image Control</a>
      </li>
    </ul>
  </div>
</nav>
