<router-outlet></router-outlet>
<div class="overall">

  <div class="container-fluid container-home-header d-flex fixed-top ">
    <a class="navbar-brand text-light px-md-5 px-2"><img class="logo" src="assets/logo.png" alt=""></a>
    <div class="nav-menu d-md-flex ms-auto d-none px-5">
      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a nav-active" href="#">Home</a></li>
      </ul>
      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" href="#about">About</a></li>
      </ul>
      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" href="#skills">Skills</a></li>
      </ul>
      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" href="#projects">Projects</a></li>
      </ul>
      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" href="#contact">Contact</a></li>
      </ul>
    </div>

    <div role="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      class="toggle-menu  d-md-none">

      <div class="">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

  </div>
  <div id="navbarSupportedContent" class="top-nav w-100  d-md-none text-center lead">
    <div class="navbar-profile pt-7">
      <div class="marginl">
        <img class="navbar-image" src="assets/pic.jpg" alt="home-img">
        <h3 class="navbar-name about-heading  text-light pb-0 p-3">Rajamani Arumugam</h3>
        <a class="p-2" href="https://www.linkedin.com/in/rajamani-arumugam-b02a631a4/"><i
            class="social-icons fab fa-linkedin"></i></a>
        <a class="p-2" href=""><i class="social-icons fab fa-facebook-square"></i></a>
        <a class="p-2" href=""><i class="social-icons  fab fa-instagram "></i></a>
      </div>
    </div>
    <div class="navbar-menu">
      <a class="navbar-a p-2 d-block  text-active pt-3" href="#"><i class="fas fa-home icons "></i>Home</a>
      <a class="navbar-a p-2 d-block text-white" href="#about"><i class="fas fa-user icons "></i>About</a>
      <a class="navbar-a p-2 d-block text-white" href="#skills"><i class="fas fa-lightbulb icons"></i>Skills</a>
      <a class="navbar-a p-2 d-block text-white" href="#projects"><i class="fas fa-laptop-code icons"></i>Projects</a>
      <a class="navbar-a p-2 d-block text-white" href="#contact"><i class="fas fa-envelope icons"></i>Contact</a>
    </div>
  </div>
  <section class="container-fluid container-home-page card-body d-md-flex justify-content-center align-items-center">
    <div class="animate container-left col-lg-8  card-body px-sm-5 lead">
      <h1 class="home-name fw-bold">Hi,<br>I'm Rajamani</h1>
      <p class="home-p-work fw-bold lead">Front-End Developer</p>
      <p class="home-p-content lead description">
        Engineer and a passionate USER INTERFACE DEVELOPER with <br> 1+ years of experience in software industry. I love to build powerful <br> web applications by using modern frameworks - Angular.
      </p>
      <p class="home-p-content lead description">
        I'm still learning everyday and I will never stop learning everyday !
      </p>
      <a class="btn btn-primary my-3 btn-md-lg" href="#about">Read More</a>
    </div>
    <div class=" container-right col-lg-4 px-sm-5">
      <img class="img-fluid  card rounded " src="assets/web1.png" alt="laptop-img">
    </div>
  </section>

  <p id="about" class=" about-me-text text-center fw-bold">About me :</p>
  <section
    class="container-fluid container-about container-box2 card-body d-md-flex justify-content-center align-items-center my-5">
    <div class="container-fluid d-md-flex justify-content-center align-items-center my-5  rounded">
      <div class=" container-right about-right col-lg-4  col-md-6   p-sm-5  p-3">
        <img class="img-fluid rounded " src="assets/pic.jpg" alt="developer-img">
      </div>
      <div class="container-left about-left   col-lg-8  col-md-6  card-body p-sm-5  p-3">
        <h3 class="about-heading about-left-text"><strong>Front-End Developer</strong></h3>
        <p class="about-paragraph mb-4 about-left-text">Good Knowledge in front-end web design and
          development,<br>producing quality work for Clients.</p>
        <p class="about-left-text"><b>Name :</b> Rajamani Arumugam</p>
        <p class="about-left-text"><b>Experience :</b> 1+ Years</p>
        <p class="about-left-text"><b>Degree :</b>MCA ( Master of computer application)., B.Sc Computer Science.,</p>
        <P class="about-left-text"><b>Age :</b> 23</P>
        <p class="about-left-text"><b>Place :</b> Dindigul,Tamilnadu,india.</p>
        <a class="btn btn-primary resume-dow btn-md-lg px-3 mt-2" href="resume1.pdf" download>Resume</a>
      </div>
    </div>
  </section>







  <!-- <p id="skills"  class="skill-text text-center fw-bold">Skills :</p>
    <section class="container container-skills col-sm-6 my-sm-3 ">
            <div class="skills-icons col-12 d-flex  align-items-center p-0">
                <div class="html-icon mx-2">
                    <img class="img-fluid html-logo mt-5" src="assets/html.png" alt="html-logo" >
                    <p class="text-center fw-bold  mt-2">HTML</p>
                </div>
                <div class="progress progress-box my-2 mx-2 ">
                    <div class = "progress-bar" style="width:90%;height:15px;">
                            90%
                    </div>
                </div>
            </div>
            <div class="skills-icons col-12 d-flex  align-items-center p-0">
                <div class="html-icon mx-2">
                    <img class="img-fluid css-logo mt-5" src="assets/css.png" alt="html-logo" >
                    <p class="text-center fw-bold  mt-2">CSS</p>
                </div>
                <div class="progress progress-box my-2 mx-3">
                    <div class = "progress-bar " style="width:90%;height:15px;">
                        90%
                    </div>
                </div>
            </div>
            <div class="skills-icons col-12 d-flex  align-items-center p-0">
                <div class="html-icon mx-2">
                    <img class="img-fluid js-logo mt-5" src="assets/javascript.png" alt="html-logo" >
                    <p class="text-center js-text fw-bold  mt-2">Javascript</p>
                </div>

                <div class="progress progress-box my-2 mx-3 ">
                    <div class = "progress-bar" style="width:50%;height:15px;">
                        50%
                    </div>
                </div>
            </div>
            <div class="skills-icons col-12 d-flex  align-items-center p-0">
                <div class="html-icon mx-2">
                    <img class="img-fluid bootstrap-logo mt-5" src="assets/bootstrap.png" alt="html-logo" >
                    <p class="text-center bootstrap-text  fw-bold  mt-2">Bootstrap</p>
                </div>
                <div class="progress progress-box my-2 mx-3">
                    <div class = "progress-bar" style="width:50%;height:15px;">
                        50%
                    </div>
                </div>
            </div>
    </section> -->



  <p id="skills" class="skill-text text-center fw-bold">Skills :</p>
  <section class="container container-skills d-sm-flex col-sm-12 my-sm-3 ">
    <div class="skill-left col-sm-4">
      <div class="skills-icons d-flex  align-items-center p-0 mx-md-5">
        <div class="html-icon mx-2">
          <img class="img-fluid html-logo mt-5" src="assets/html.png" alt="html-logo">
          <p class="text-center fw-bold  mt-2">HTML</p>
        </div>
        <div class="progress progress-box my-2 mx-2 ">
          <div class="progress-bar" style="width:90%;height:15px;">
            90%
          </div>
        </div>
      </div>
      <div class="skills-icons d-flex  align-items-center p-0 mx-md-5">
        <div class="html-icon mx-2">
          <img class="img-fluid css-logo mt-5" src="assets/css.png" alt="html-logo">
          <p class="text-center fw-bold  mt-2">CSS</p>
        </div>
        <div class="progress progress-box my-2 mx-3">
          <div class="progress-bar " style="width:90%;height:15px;">
            90%
          </div>
        </div>
      </div>
      <div class="skills-icons d-flex  align-items-center p-0 mx-md-5">
        <div class="html-icon mx-2">
          <img class="img-fluid css-logo mt-5" src="assets/sql.png" alt="html-logo">
          <p class="text-center fw-bold  mt-2">SQL</p>
        </div>
        <div class="progress progress-box my-2 mx-3">
          <div class="progress-bar " style="width:50%;height:15px;">
            50%
          </div>
        </div>
      </div>
    </div>
    <div class="skill-right col-sm-4">
      <div class="skills-icons  d-flex  align-items-center p-0">
        <div class="html-icon mx-2">
          <img class="img-fluid js-logo mt-5" src="assets/javascript.png" alt="html-logo">
          <p class="text-center js-text fw-bold  mt-2">Javascript</p>
        </div>

        <div class="progress progress-box my-2 mx-3 ">
          <div class="progress-bar" style="width:80%;height:15px;">
            80%
          </div>
        </div>
      </div>
      <div class="skills-icons  d-flex  align-items-center p-0">
        <div class="html-icon mx-2">
          <img class="img-fluid bootstrap-logo mt-5" src="assets/bootstrap.png" alt="html-logo">
          <p class="text-center bootstrap-text  fw-bold  mt-2">Bootstrap</p>
        </div>
        <div class="progress progress-box my-2 mx-3">
          <div class="progress-bar" style="width:50%;height:15px;">
            50%
          </div>
        </div>
      </div>
    </div>
    <div class="skill-right col-sm-4">
      <div class="skills-icons  d-flex  align-items-center p-0">
        <div class="html-icon mx-2">
          <img class="img-fluid js-logo mt-5" src="assets/angular.png" alt="html-logo">
          <p class="text-center js-text fw-bold  mt-2">Angular</p>
        </div>

        <div class="progress progress-box my-2 mx-3 ">
          <div class="progress-bar" style="width:90%;height:15px;">
            90%
          </div>
        </div>
      </div>
      <div class="skills-icons  d-flex  align-items-center p-0">
        <div class="html-icon mx-2">
          <img class="img-fluid bootstrap-logo mt-5" src="assets/net.png" alt="html-logo">
          <p class="text-center bootstrap-text  fw-bold  mt-2">.Net</p>
        </div>
        <div class="progress progress-box my-2 mx-3">
          <div class="progress-bar" style="width:50%;height:15px;">
            50%
          </div>
        </div>
      </div>
    </div>
  </section>




  <p id="projects" class=" about-me-text text-center fw-bold">Projects :</p>
  <section class="container-fluid  my-5 project">
    <div class="container project-container   d-md-flex justify-content-center align-items-center p-5 ">
      <div class=" project-box project-img1 col-lg-4 col-md-4  project-img1 Todo-list-app ">

        <div class="project-overlay1 project-img1">
          <a class="project-link" target="_blank"routerLink="/crud">Check Now</a>
        </div>
        <p class="project-title">CRUD Operation</p>
      </div>

      <div class="project-box project-img2 col-lg-4 col-md-4   project-img2 Calculator  my-5 mx-md-5">
        <div class="project-overlay2 project-img2">
          <a class="project-link"  routerLink="/project">Check Now</a>
        </div>
        <p class="project-title ">Project Management</p>
      </div>
      <div class="project-box project-img3 col-lg-4 col-md-4  project-img3 Todo-list-app ">

        <div class="project-overlay3 project-img3">
          <a class="project-link"  routerLink="/calculator">Check Now</a>
        </div>
        <p class="project-title">Calculator</p>
      </div>
    </div>

  </section>












  <p id="contact" class="contact-me-text text-center fw-bold">Contact me:</p>
  <div
    class="container-fluid container-contact card-body d-sm-flex  justify-content-center align-items-center p-lg-5  my-5 ">
    <div class="container container-left contact-right  card-body col-lg-4 col-md-6 ">
      <marquee behavior="left" direction="right" class="contact-me-text text-center fw-bold pt-0"
        style="width:170px;font-size:25px">Contact Info</marquee>

      <!-- <p class="contact-info mb-sm-5 fw-bold">Contact Info</p> -->
      <div class="d-flex align-items-center  my-sm-3 my-2">
        <i class="far fa-user fa-2x mb-3"></i>
        <p class="mx-3"><strong>Name :</strong><br>Rajamani Arumugam</p>
      </div>
      <div class="d-flex align-items-center my-sm-3 my-2">
        <i class="far fa-envelope-open fa-2x mb-3"></i>
        <p class="mx-3"><strong>Email :</strong><br><a
            href="mailto:rajamanihari19@gmail.com">rajamanihari19@gmail.com</a></p>
      </div>
      <div class="d-flex align-items-center my-sm-3 my-2">
        <i class="far fa-map-marker-alt fa-2x mb-3"></i>
        <p class="mx-4"><strong>Address :</strong><br>Dindigul,Tamilnadu,India.</p>
      </div>
      <div class="d-flex align-items-center my-sm-3 my-2">
        <i class="fas fa-mobile-alt fa-2x mb-3 "></i>
        <p class="mx-4"><strong>Call :</strong><br><a href="tel:+917904998687">7904998687</a></p>
      </div>
    </div>

    <div class="container container-left contact-left  col-lg-8 col-md-6  card-body">
      <form id="submitForm" action="#" autocomplete="off">
        <label class="label-name my-1 fw-bold" for="name">Name:</label>
        <input class="my-1 p-2 card" type="text" name="name" id="name" placeholder="Enter your name" required
          spellcheck="true">
        <label class="label-email my-1 fw-bold" for="email">Email:</label>
        <input class="my-1 p-2 card " type="email" name="email" id="email" placeholder="Enter your email address"
          spellcheck="true" required maxlength="30">
        <label class="label-message fw-bold my-1" for="message">Message:</label>
        <textarea class="card my-1" name="message" id="message" rows="5" placeholder="Enter your message"
          required></textarea>
        <button type="submit" class="btn btn-primary  btn-sm-lg my-2">Send Message</button>
        <button class="btn btn-primary btn-sm-lg my-3 mx-3" type="reset">Reset</button>
      </form>
    </div>
  </div>






  <div class="to-top">
    <a class="to-top" href="#"><i class="fas fa-fighter-jet "></i></a>
  </div>

  <footer class="text-light text-center pt-2">
    <p class=""> 2023 Portfolio All rights reversed</p>
    <div class="footer-social-icons d-md-block d-none">
      <a class="p-2" href="https://www.linkedin.com/in/rajamani-arumugam-b02a631a4/"><i
          class="f-social-icons fab fa-linkedin px-2"></i></a>
      <a class="p-2" href=""><i class="f-social-icons fab fa-facebook-square px-2 "></i></a>
      <a class="p-2" href=""><i class="f-social-icons  fab fa-instagram px-2 "></i></a>
    </div>
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="index.js"></script>
</div>
